html{
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}
body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

* {
	margin:0px;
	padding:0px;
}

#header {
		background-color:#000000;
		width:100%;
		height: 50px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:24px;
}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:#000;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}


.entrada { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
.entrada:focus { 
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
 }


 .login { 
	position: absolute;
	top: 30%;
	left: 38%;
	right: 38%;
	width:24%
	height:30%;
}
 .login h1 {
 	color: #fff; 
 	text-shadow: 0 0 10px rgba(0,0,0,0.3);
 	letter-spacing:1px;
 	text-align:center; 
 }
.btn { display: 
	inline-block;
	*display: inline; 
	*zoom: 1; 
	padding: 4px 10px 4px; 
	margin-bottom: 0; 
	font-size: 13px; 
	line-height: 18px; 
	color: #333333; 
	text-align: 
	center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); 
	vertical-align: middle; 
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); 
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); 
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); 
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); 
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x; 
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); 
	border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); 
	border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; 
	border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }
* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

.contenedormaster{
	position: absolute;
	left:0%;
	top: 0px;
	width: 100%;
	height: 100%;
}
.encabezado{
	position: relative;
	left:0%;
	top: 0%;
	width: 100%;
	height: 25%;
	/*background: #ffffff;*/
}
.imnombre{
	margin: 3% auto;
	width: 40%;
	height: 40%;
	text-align:center;
	/*background-color: #000000;*/
}
.logout{
 	margin-left: 80%;
 	width: 10%;
	height: 40%;
	text-align:center;
}
.logoutbtn{
	background:    #ff0000;
	background:    -webkit-linear-gradient(#ff0000, #631007);
	background:    linear-gradient(#ff0000, #631007);
	border:        1px solid #555999;
	border-radius: 6px;
	padding:       8px 26px;
	color:         #ffffff;
	display:       inline-block;
	font:          normal 700 24px/1 "Calibri", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px #000000;
}
.envoltura{
	position: absolute;
	left: 35%;
	top: 40%;
	width: 30%;
	}
 
.contenedor{
	box-shadow: 3px 3px 10px 5px rgba(0,0,0,.8);
        }
 
.cabecera{
	position: relative;
	background-color:#6B9CB0;
	border-bottom: 2px solid #333;
	height:20px;
        }
 
.cuerpo{
	background:#ececec;
	border:solid #ccc;
	border-width: 2px 3px;
        }
 
label{
	position: relative;
	color: #666;
    font-weight: bold;
    }

.margen{
	position: relative;
	left: 2%;
}
 
input{
	position: relative;
	border-radius:5px;
	box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);
	font:bold 12px Arial, Helvetica, sans-serif;
	height: 24px;
	width: 90%;
        }
         
.botonsubmit{
	position: relative;
	background: #ccc;
	background: -webkit-linear-gradient(top,#fc6,#f63);
	background: linear-gradient(top,#fc6,#f63);
	color: #666;
	width: 80%;
	left: 10%
        }

.botonsubmit:active{
	position: relative;
	top: 3px;
        }

.centernum{
	position: absolute;
	/*padding-top: 12%;*/
	top: 28%;
	left: 15%;
	right: 15%;
	width: 70%;
	/*background-color: #000000;*/
	/*text-align:center;*/
}
       
.margen-10{
	text-align:center;
	margin-top:5%;
	/*background-color: #000000;*/
	}
.margen-20{
	text-align:center;
	margin-top:15%;
	height: 60%;
	/*background-color: #000000;*/
	}
.imagenum{
	/*position: absolute;*/
	/*margin: 0 auto;*/
	/*margin-left:90px;*/
	left: 5px;
	width: 100px;
	height: 100px;
	}
.imagenum:active {
	border: 10px solid transparent;
}
.imageback{
	/*position: absolute;
	left: 0;
	top: 80%;*/
	width: 100px;
	height: 100px;
	}
.imageback:active{
	border: 10px solid transparent;
}
.botonnum{
	width: 200px;
	height: 100px;
	background: transparent;
	border: none !important;
	font-size:0;
       }
.botontime{
	width: 250px;
	height: 100px;
	background: transparent;
	border: none !important;
	font-size:0;
       }
 .botonback{
 	left: 5px;
	width: 100px;
	height: 100px;
	background: transparent;
	border: none !important;
	font-size:0;
       }
.logoff{
	position: relative;
	left:0%;
	top: 20%;
	width: 100%;
	height: 100%;
}
.form1{
	position: relative;
    left:90%;
	top: -50%;
	width: 40px;
	height: 40px;
	border:0px;

}
/*.button60{
	position: absolute;
	left:10%;
	top: 40%;

}*/
.button60:active {
	border: 10px solid transparent;
	}
/*.button45{
	position: absolute;
	left:40%;
	top: 40%;
}*/
.button45:active {
	border: 10px solid transparent;
	}

/*.button30{
	position: absolute;
	left:70%;
	top: 40%;

}*/
.button30:active {
	border: 10px solid transparent;
	}
.salir{
	text-align: right;
}

@media only screen and (max-width: 700px) {  

	.login { 
		position: absolute;
		top: 10%;
		left: 20%;
		right: 20%;
		width:60%
		height:40%;
	}
	.encabezado{
		position: relative;
		left:0%;
		top: 0px;
		width: 100%;
		height: 15%;
		/*background: #ffffff;*/
	}
	.imnombre{
		position: relative;
		width:80%;
		height:100%;
		/*background-color: #000000;*/
	}
	.plazaimg{
		width:100%;
		height:100%;
	}
	.logout{
	 	margin-left: 70%;
	 	width: 10%;
		height: 40%;
		text-align:center;
	}
	.logoutbtn{
		background:    #ff0000;
		background:    -webkit-linear-gradient(#ff0000, #631007);
		background:    linear-gradient(#ff0000, #631007);
		border:        1px solid #555999;
		border-radius: 3px;
		padding:       8px 15px;
		color:         #ffffff;
		display:       inline-block;
		font:          normal 700 18px/1 "Calibri", sans-serif;
		text-align:    center;
		text-shadow:   1px 1px #000000;
	}

	.centernum{
		position: absolute;
		top: 38%;
		left: 5%;
		right: 5%;
		width: 90%;
		/*background-color: #000000;*/
		/*text-align:center;*/
	}
  
	.margen-10{
		margin-top:5%;
		/*margin-left: 10%;*/
		text-align:center;
	}
	.botonnum{
		width: 65px;
		height: 45px;
		background: transparent;
		border: none !important;
		font-size:0;
	}
	.imagenum{
		/*position: absolute;*/
		/*margin: 0 auto;*/
		/*margin-left:50%;*/
		width: 45px;
		height: 45px;
	}
.margen-20{
		text-align:center;
		margin-top:25%;
		height: 60%;
	/*background-color: #000000;*/
	}

}  